.game-container-caro5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-selection-caro5 {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.room-selection-caro5 h2,
.room-selection-caro5 h3 {
  margin-bottom: 10px;
}

.room-selection-caro5 input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.room-selection-caro5 button {
  padding: 8px 12px;
  margin-left: 10px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.room-selection-caro5 button:hover {
  background-color: #45a049;
}

.game-board-caro5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caro-board-caro5 {
  display: grid;
  grid-template-columns: repeat(34, 30px); /* 34 ô ngang */
  grid-template-rows: repeat(20, 30px);    /* 30 ô dọc */
  gap: 2px; /* Khoảng cách giữa các ô */
  margin-top: 20px;
}

.caro-square-caro5 {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

.caro-square-caro5:hover {
  background-color: #f0f0f0;
}
.navigate-button-caro5 {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db; /* Màu nền xanh dương */
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.navigate-button-caro5:hover {
  background-color: #2980b9; /* Màu nền xanh đậm hơn khi di chuột qua */
  transform: scale(1.05); /* Hiệu ứng phóng to khi di chuột qua */
}

.navigate-button-caro5:active {
  transform: scale(0.95); /* Hiệu ứng khi nhấn nút */
}