.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.XO {
  background: linear-gradient(135deg, #f203c6, #ea00ff, #054cf0, #00aaff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 310px; /* Width of the board including gaps */
}

.choose-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.choose-room input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

.choose-room button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.choose-room ul {
  list-style-type: none;
  padding: 0;
}

.choose-room li {
  margin: 5px 0;
}
.game-page {
  height: 100%;
}
.button-replay-caro {
  border-radius: 5%;
  border: none;
  height: 30px;
  margin-left: 60px;
  margin-bottom: 10px;
}
/* Nút Home */
.navigate-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db; /* Màu nền xanh dương */
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 10px;
}

/* Hiệu ứng khi di chuột qua nút Home */
.navigate-button:hover {
  background-color: #2980b9; /* Màu nền xanh đậm hơn khi di chuột qua */
  transform: scale(1.05); /* Hiệu ứng phóng to khi di chuột qua */
}

/* Hiệu ứng khi nhấn nút Home */
.navigate-button:active {
  transform: scale(0.95); /* Hiệu ứng khi nhấn nút */
}

.navigate-button2 {
  height: 60px;
  width: 80px;
  margin-top: 10px;
  margin-right: 230px;
}
